.bulkboy-admin {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.bulkboy-admin__content h1 {
    font-weight: 900;
    display: inline-block;
    padding: 1rem 0;
}

.bulkboy-admin__form__submit {
    margin-top: 2rem;
}
